<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Pie Chart</title>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Meal Distribution in the Last Week</h1>
    <div id="pie-chart"></div>

    <script type="text/javascript">
        var graphData = {{ graph_json | safe }};
        Plotly.newPlot('pie-chart', graphData);
    </script>
</body>
</html>
